# Dependencies
node_modules/
.pnpm-store
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
.next/
.next/cache
out/
build/
dist/
.turbo

# Testing / coverage
coverage/
*.lcov

# Env files
.env*
.env.local
.env.development*
.env.test*
.env.production*

# Logs / debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Docker / Compose (local only)
docker-compose*.yml
compose*.yml

# Hosting / tooling
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS / Editor junk
.DS_Store
Thumbs.db
.idea
.vscode

# App-specific ignores
Uploads/
extension/
docs/
coverage/
x_cookies.txt
*.pem
